<div class="container text-center">
<h2>To Do List</h2>
<% @tasks.each do |task|  %>
  <% if task.completed%>
    <h3>
      <i class="far fa-check-square"></i>  <%= link_to task.title, task_path(task) %>
      <%= link_to delete_path(task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } do  %>
      <i class="far fa-trash-alt"></i>
      <% end %>
     </h3>
  <%else %>
    <h3><i class="far fa-square"></i>  <%= link_to task.title, task_path(task) %>
      <%= link_to delete_path(task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } do  %>
      <i class="far fa-trash-alt"></i>
      <% end %>
    </h3>
  <% end  %>
<% end %>
  <%= link_to "Create a new task", new_path, class: "btn btn-primary" %>

</div>
